<div class="index">
    <div class="masthead d-flex">
        <div class="dark-overlay">
            <div class="container text-center my-auto ">
                <h1 class="mt-x">Kamica</h1>
                <h3 class="">Ambulance Guideness</h3>
                <p>Join us and help us to save lives</p>
                <div class="btn btn-secondary m-1 p-4">
                    <p class="lead my-auto"><i class="fas fa-ambulance"></i> </p>
                    <p>Ambulance</p>
                </div>
                <div class="btn btn-primary m-1 p-4">
                    <p class="lead my-auto"><i class="fas fa-hospital"></i> </p>
                    <p>Hospitals</p>
                </div>
            </div>
        </div>
    </div>
</div>