<div class="index">
    <div class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Kamica</h1>
            <h3 class="mb-1">Ambulance Guideness</h3>
            <p>Join us and help us to save lives</p>
        </div>
    </div>
</div>