<div id="map"></div>
<div class="container text-center">
    <button class="btn btn-outline-primary btn-block mt-2" onclick="getPosition()">Get route</button>
</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwUtfAU3J17hff_N82wfW3QE3q9xFwgcE&callback=initMap"></script>
{{!-- After --}}
<script>

    var map, mapConfig, marker;
    function initMap() {

        //// Get GeoLocation
        //let lat = res.coords.latitude;
        //let long = res.coords.longitude;
        let coords = { lat: 11.017590, lng: -74.852032 };
        mapConfig = {
            center: coords,
            zoom: 15
        }

        //Map
        map = new google.maps.Map(document.getElementById('map'), mapConfig);

        // Paint a Market
        var marker = new google.maps.Marker({
            position: coords,
            map: map,
            draggable: true,
            title: 'Your Location'
        });


    }




</script>