<div id="map"></div>
<div class="container text-center">
    <form action="/ambulance/test/{{id}}/{{area}}" method="POST">
        <div class="form-group">
            <button class="btn btn-primary btn-block">
                Get route
            </button>

            <input type="text" name="origin" id="origin" class="form-control" />

        </div>
        <p id="origin" name="origin"></p>
    </form>
</div>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwUtfAU3J17hff_N82wfW3QE3q9xFwgcE&libraries=geometry&callback=initMap"></script>
{{!-- After --}}
<script>


    //Map script
    var map, mapConfig, marker;
    function initMap() {

        // Initial coords 
        let coords = { lat: 11.017590, lng: -74.852032 }; // Uninorte
        mapConfig = {
            center: coords,
            zoom: 16
        }

        //Map
        map = new google.maps.Map(document.getElementById('map'), mapConfig);

        // Paint a Market
        var image = {
            url: 'https://www.freeiconspng.com/uploads/ambulance-icon-23.png',
            // This marker is 20 pixels wide by 32 pixels high.
            scaledSize: new google.maps.Size(50, 50),
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor for this image is the base of the flagpole at (0, 32).
            anchor: new google.maps.Point(0, 32)
        };

        var marker = new google.maps.Marker({
            position: coords,
            map: map,
            icon: image,
            draggable: true,
            title: 'Your Location'
        });
        // Getting position
        var options = { lat: 11.017590, lng: -74.852032 };
        marker.addListener('dragend', () => {
            let origin = document.getElementById('origin');
            origin.value = marker.getPosition();

            map.setCenter(marker.getPosition());


        })
    }




</script>