<div id="map"></div>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaUgFuVypDeWug-2htEXKEssI7TpifSg8&callback=initMap"></script>
{{!-- After --}}
<script>

    var map, mapConfig, marker;
    function initMap() {

        // Get GeoLocation
        navigator.geolocation.getCurrentPosition(
            (res) => {
                let lat = res.coords.latitude;
                let long = res.coords.longitude;
                let coords = new google.maps.LatLng(lat, long);
                mapConfig = {
                    center: coords,
                    zoom: 15
                }
                //Map
                map = new google.maps.Map(document.getElementById('map'), mapConfig);

                // Paint a Market
                var marker = new google.maps.Marker({
                    position: coords,
                    map: map,
                    title: 'Asuncion'
                });
            },
            () => {
                console.log('Cant access to GPS');
            }
        )


    }

</script>